<div class="pages-title section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="pages-title-text text-center">
          <h2>Đăng Ký</h2>
          <ul class="text-left">
            <li><a href="index.html">Trang Chủ </a></li>
            <li><span> // </span>Đăng Ký</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="pages login-page section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="main-input padding60">
          <div class="log-title">
            <h3><strong>Đăng Nhập</strong></h3>
          </div>
          <div class="login-text">
            <div class="custom-input">
              <p>Nếu bạn có tài khoản, vui lòng đăng nhập!</p>
              <form action="mail.php" method="post">
                <input type="text" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <a class="forget" href="#">Quên Mật Khẩu ?</a>
                <div class="submit-text">
                  <a href="my-account.html">Đăng Nhập</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="main-input padding60 new-customer">
          <div class="log-title">
            <h3><strong>Đăng Ký Khách Hàng</strong></h3>
          </div>
          <div class="custom-input">
            <form action="mail.php" method="post">
              <input type="text" name="name" placeholder="Tên.." />
              <input type="text" name="email" placeholder="Email.." />
              <input type="text" name="number" placeholder="Số Điện Thoại.." />
              <input type="text" name="address" placeholder="Mật Khẩu" />
              <input type="password" name="password" placeholder="Nhập Lại Mật Khẩu" />
              <div class="submit-text coupon">
                <a href="my-account.html">Đăng Ký</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
